<app-top-navbar></app-top-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="form" (ngSubmit)="resetPassword()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="password"
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <mat-error *ngIf="form.get('password')?.errors?.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="form.get('password')?.errors?.minlength">
            Password must 8 characters long
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="re-enter password"
            type="password"
            formControlName="reEnteredpassword"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.reEnteredpassword.errors
            }"
          />
          <mat-error *ngIf="form.get('reEnteredpassword')?.errors?.required">
            reEnter-Password is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">
        Submit
      </button>
    </form>
  </mat-card>
</div>
